.header_top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.header_bottom{
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
img{
  width: 70px;
  height: 70px;
  border-radius: 40%;
  margin-right: 20px;
}
li{
  list-style: none;
}
ul{
  padding-left: 0;
}
.chats_chat{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.chat_user{
  margin-top: 5px;
  display: flex;
  margin-bottom: 0;
}
.chats_content{
  display: flex;
}
.chat_priview{
  align-items: center;
}
a{
  display: block;
  text-decoration: none;
  color: black;
}
