.header_top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.header_bottom{
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
img{
  width: 70px;
  height: 70px;
  border-radius: 70%;
  margin-right: 20px;
}
.friends_section-title{
  padding-bottom: 10px;
  border-bottom: 1px gray solid;
}
.friends_section-row{
  display: flex;
  align-items: center;
  margin: 20px;
}
.friends_section-column{
  font-size: 25px;
}
.friends_section-textline{
  font-size: 15px;
}
