.header_top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.header_bottom{
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.wallet_column{
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 5px 20px;
  background-color: yellow;
  font-size: 20px;
}
.icon_table-table{
  width: 100%;
  margin-top: 20px;
  border-collapse: separate;
  border-spacing: 0 50px;
}
